<div class="login">

  <!-- LOGO ARRIBA IZQUIERDA -->
  <div class="top-bar">
    <h1 class="foodtrack-title">FoodTrack</h1>
  </div>

  <!-- CONTENIDO -->
  <div class="center">
    <div class="marco-login">

      <h1 class="titulo">INICIO DE SESIÓN</h1>

      <div class="form-group">
        <label>CORREO</label>
        <input type="email" />
      </div>

      <div class="form-group">
        <label>CONTRASEÑA</label>
        <input type="password" />
      </div>

      <div class="acciones">
        <button type="button" class="btn-outline" routerLink="/">Cancelar</button>
        <button class="btn-primary" routerLink="/mesas">Continuar</button>
      </div>

    </div>
  </div>

</div>
