<div class="login">
  <div class="top-bar">
    <h1 class="foodtrack-title">FoodTrack</h1>
  </div>
  <div class="center">
    <div class="marco-login">
      <h1 class="titulo">INICIO DE SESIÓN</h1>
      <div class="form-group">
        <label>CORREO</label>
        <input type="email" [(ngModel)]="email" />
      </div>
      <div class="form-group">
        <label>CONTRASEÑA</label>
        <input type="password" [(ngModel)]="password" />
      </div>
      <div class="acciones">
        <button class="btn-outline" (click)="cancelar()">Cancelar</button>
        <button class="btn-primary" (click)="onSubmit()">Continuar</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  </div>
</div>