<div class="home">

  <!-- NAVBAR -->
  <nav class="navbar">
    <h1 class="foodtrack-title">FoodTrack</h1>

    <div class="buttons">
     <button class="btn-outline" routerLink="/register">
  Crear cuenta
</button>
      <button class="btn-primary" routerLink="/login">
  Iniciar sesión
</button>
    </div>
  </nav>

  <!-- CONTENIDO CENTRAL -->
  <div class="hero">
    <div class="marco">
      <h2 class="bienvenido">Bienvenido</h2>
      <h1 class="titulo">FOODTRACK</h1>
    </div>
  </div>

</div>