/* CONTENEDOR PRINCIPAL */
.home {
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/fondo.png'); /* tu imagen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  overflow: hidden;
}

/* OVERLAY OSCURO */
.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  position: relative;
  z-index: 2;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* BOTONES */
.buttons {
  display: flex;
  gap: 10px;
}

.btn-primary {
 background: transparent;
  border: 1px solid #caa15a;
  padding: 8px 16px;
  color: #caa15a;
  border-radius: 6px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  border: 1px solid #caa15a;
  padding: 8px 16px;
  color: #caa15a;
  border-radius: 6px;
  cursor: pointer;
}

/* HERO CENTRADO */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* MARCO */
.marco {
  background: rgba(120, 0, 0, 0.20);
  padding: 60px 100px;
  text-align: center;
  border: 2px solid #caa15a;
  backdrop-filter: blur(8px);
  position: relative;
  z-index: 2;

  /* Bordes hacia adentro */
  clip-path: polygon(
    20px 0%, 
    calc(100% - 20px) 0%, 
    100% 20px, 
    100% calc(100% - 20px), 
    calc(100% - 20px) 100%, 
    20px 100%, 
    0% calc(100% - 20px), 
    0% 20px
  );
}

/* TEXTOS */
.bienvenido {
  font-family: "Great Vibes", cursive;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  color: #f5d7a1;
}

.titulo {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* puedes usar 400, 500, 600, 700 */
  font-style: normal;
  font-size: 80px;
  color: #f5d7a1;
  margin-top: 10px;
  letter-spacing: 4px;
}