<div class="home">

  <!-- NAVBAR -->
  <div class="navbar">
    <h1 class="foodtrack-title">FoodTrack</h1>

    <div class="buttons">
      <button class="btn-outline">Gestión de mesas</button>
      <button class="btn-outline">Control de pagos</button>
      <button class="btn-outline" routerLink="/">Cerrar sesión</button>
    </div>
  </div>

  <!-- TÍTULO -->
  <h2 class="titulo-central">GESTIÓN DE MESAS</h2>

  <!-- CONTENEDOR -->
 <div class="contenedor-mesas">

  <div class="grid-mesas">
    <div 
      class="mesa" 
      *ngFor="let mesa of mesas"
      (click)="irAMesa(mesa)"
    >
      <img src="assets/mesa.png" alt="mesa">
      <span>#{{ mesa }}</span>
    </div>
  </div>

</div>

<div class="acciones">
  <button class="btn-outline" (click)="agregarMesa()">Agregar</button>
  <button class="btn-outline" (click)="quitarMesa()">Quitar</button>
</div>