.home {
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* OVERLAY OSCURO */
.home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
  position: relative;
  z-index: 2;
}

/* BOTONES SUPERIORES */
.buttons {
  display: flex;
  gap: 10px;
}

.btn-outline {
  background: transparent;
  border: 1px solid #caa15a;
  padding: 8px 16px;
  color: #caa15a;
  border-radius: 6px;
  cursor: pointer;
}

/* TÍTULO CENTRAL */
.titulo-central {
  text-align: center;
  color: #f5d7a1;
  font-size: 40px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

/* CONTENEDOR ROJO */
.contenedor-mesas {
  background: rgba(120, 0, 0, 0.25);
  border: 2px solid #caa15a;
  backdrop-filter: blur(8px);
  margin: 40px auto;
  padding: 30px;
  width: 70%;
  max-height: 400px;
  overflow-y: auto;
  position: relative;
  z-index: 2;
  animation: aparecer 0.6s ease;
}

/* GRID DE MESAS */
.grid-mesas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* antes 30px */
  justify-items: center;
}

/* MESA */
.mesa {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  animation: aparecer 0.5s ease;
}

.mesa:hover {
  transform: scale(1.1);
}

.mesa img {
  width: 120px;
}

.mesa span {
  display: block;
  color: #f5d7a1;
  margin-top: 5px;
}

.acciones {
  position: absolute;
  right: 60px;
  bottom: 40px; /* 🔥 en vez de top */
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
}